@use '../colors' as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  min-height: 30vh;
  background: url("../images/pattern-circles.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;

  &__title {
    margin-bottom: 2rem;
    color: $neutral-dark-desaturated-blue;
    font-size: 2rem;
    font-weight: 800;
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    color: $neutral-grayish-blue;
  }
}
